<ul class="nav nav-sidebar">
    <li>
    	        <a ui-sref="app.programs">Programs</a>
       <!--  <ul class="nav nav-sidebar">
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
        </ul> -->
        <a ui-sref="app.projects">Projects</a>
       <!--  <ul class="nav nav-sidebar">
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
        </ul> -->

                <a ui-sref="app.annotations">Annotations</a>
       <!--  <ul class="nav nav-sidebar">
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
        </ul> -->
                <a ui-sref="app.libraries">Libraries</a>
       <!--  <ul class="nav nav-sidebar">
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
        </ul> -->
                <a ui-sref="app.collections">Collections</a>
       <!--  <ul class="nav nav-sidebar">
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
            <li><a href="#">Second Level</a></li>
        </ul> -->

    </li>
</ul>
