<div>
    <div><input type="text" ng-model="tableFilter"></div>
    <button ng-click="tableParams.sorting({})" class="btn btn-default pull-right">Clear sorting</button>
    <p><strong>Sorting:</strong> {{tableParams.sorting()|json}}</p>
    <table ng-table="tableParams" class="table">
        <!-- this should be grabbing the data attribute of the tableParams from $scope -->
        <tr ng-repeat="element in $data | filter: tableFilter">
          <td data-title="'Updates'" sortable="'collaboration.hasRecentActivity'">
              <span ng-if="element.collaboration.hasRecentActivity">New Notes!</span>
          </td>
          <td data-title="'Project'" sortable="'project.name'">
              <a ui-sref="app.projects.details({projectID: element.project.id})">{{element.project.name}}</a>
          </td>
          <td data-title="'Collaboration'" sortable="'collaboration.name'">
              <a ui-sref="app.collaborations.details({collaborationID: element.collaboration.id})">{{element.collaboration.name}}</a>
          </td>
          <td data-title="'Description'" sortable="'collaboration.description'">
              <a ui-sref="app.collaborations.details({collaborationID: element.collaboration.id})">{{element.collaboration.description}}</a>
          </td>
          <td data-title="'Owner'" sortable="'collaboration.owner'">
              <!-- maybe later use ID for linking to profiles -->
              {{element.collaboration.owner}}
          </td>
          <td data-title="'Status'" sortable="'collaboration.status'">
              {{element.collaboration.status}}
          </td>
          <td data-title="'Created'" sortable="'collaboration.createTime'">
              {{element.collaboration.createTime}}
          </td>
          <td data-title="'Updated'" sortable="'collaboration.lastUpdateTime'">
              {{element.collaboration.lastUpdateTime}}
          </td></tr>
    </table>
</div>
