body {
    background: #86cae5;
}

.sidebar {
    background: #abdcef;
    border-color: #72b3cc;
}

.navbar {
    background: #ead6b7;
    border-bottom: 10px solid #b6373d;
}

/* Bootstrap Overrides */

.btn {
    border-radius: 0;
}

.btn.btn-primary {
    background-color: #68a8c1;
    border: 1px solid #41768b;
}

.btn.btn-default {
    background-color: #eee;
    border: 1px solid #ddd;
}

.annotations-toolbar {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 15px 0;
    height: 38px;
}

.annotations-toolbar li {
    float: left;
    margin: 0;
    background: #eee;
    width: 44px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #ddd;
    border-right: none;
    cursor: pointer;
    color: #666;
}

.annotations-toolbar li .icon {
    float: left;
    margin: 11px 0 0 17px;
}

.annotations-toolbar li .additional-info {
    font-weight: bold;
    margin-left: 15px;
}

.annotations-toolbar li:hover {
    background: #e1e1e1;
}

.annotations-toolbar li.active {
    background: #fff;
    color: black;
}

.annotations-toolbar li.comments,
.annotations-toolbar li.approved,
.annotations-toolbar li.rejected {
    margin-left: 20px;
    width: 75px;
    color: #fff;
}

.annotations-toolbar li.comments {
    background-color: #68a8c1;
    border: 1px solid #41768b;
}

.annotations-toolbar li.approved {
    background-color: #37d045;
    border: 1px solid #458a30;
}

.annotations-toolbar li.rejected {
    background-color: #d03737;
    border: 1px solid #752123;
}

.annotations-canvas {
    width: 800px;
    height: 600px;
    border: 10px solid #fff;
}

.annotations-carousel {
    width: 800px;
    height: 93px;
    background: #000;
    padding: 0;
    margin: 0;
}

.annotations-carousel ul {
    margin: 0;
    padding: 0 15px 0 5px;
    list-style: none;
}

.annotations-carousel ul li {
    width: 80px;
    height: 60px;
    background: #fff;
    float: left;
    margin: 15px 0 0 12px;
}

.annotations-carousel ul li.previous,
.annotations-carousel ul li.next {
    width: 25px;
}

.annotations-carousel ul li.next {
    float: right;
}

.colorpicker span{
    color: #005E7A;
}

.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list li {
    margin: 10px 0;
    background: #fff;
    display: block;
}

.comment-list li.user-input {
    background: none;
}

.comment-list li.user-input textarea {
    max-width: 100%;
    width: 100%;
    hew
    border: none;
    color: #777;
    line-height: 21px;
    padding: 15px;
    border: 1px solid #66a1b9;
    background: #fff;
}

.comment-list li.user-input textarea:focus {
    outline: none;
}

.comment-list li.user-input .pull-right {
    margin-top: 5px;
}

.comment-list li.user-input .btn {
    margin-left: 10px;
}

.comment-list .seperator {
    background: #41768b;
    margin: 30px 0;
    height: 1px;
    padding: 0;
}

.comment-list .normal {

}

.comment-list .normal .user-gravatar {
    width: 46px;
    height: 46px;
    padding: 3px;
    background: #fff;
    border: 1px solid #41768b;
    float: right;
    position: relative;
    top: -15px;
    right: 10px;
}

.comment-list .comment {
    border: 1px solid #66a1b9;
    margin-bottom: 35px;
}

.comment-list .normal .user-gravatar img {
    width: 38px;
    height: 38px;
}

.comment-list .normal .comment-content {
    padding: 15px;
}

.comment-list .normal .comment-content strong {
    display: block;
    margin-bottom: 12px;
    color: #222;
}

.comment-list .normal .comment-content p {
    line-height: 21px;
    color: #666;
    margin-bottom: 0;
}

.comment-list .normal .comment-meta {
    padding: 0 15px 15px 15px;
    font-size: 12px;
}

.comment-list .normal .comment-meta .comment-id {
    background: #4fabe5;
    border-radius: 3px;
    padding: 2px 8px;
    color: #fff;
    font-weight: bold
    display: inline-block;
}

.comment-list .normal .comment-meta .comment-timestamp {
    color: #87cbe6;
}
