<a ui-sref="app.annotations">Back to Annotations</a>
{{currentAnnotation}} {{currentAnnotation.annotation.path}}

<!-- Fabric experiment below
	weird that it doesn't include the angular controller
	or the canvas tag css, the wrappers are odd-->

<div id="bd-wrapper">
    <h2><span>Annotation Canvas</span> &middot; Test phase</h2>
    {{currentAnnotation}}

    <canvas class="coveredImage" id="annotation_canvas" width="800" height="600" style="border:1px solid #aaa"></canvas>
    <!--<div class="outsideWrapper">
    	<div class="insideWrapper">

    	</div>
	</div>-->

    <ul>
        <li><strong>Events:</strong></li>
        <li ng-repeat="event in events">{{event.id}}: {{event.text}}</li>
    </ul>

    <div style="display: inline-block; margin-left: 10px">
        <button id="drawing-mode" class="btn btn-info">Cancel drawing mode</button>
        <br>
        <button id="clear-canvas" class="btn btn-info">Clear</button>
        <br>
        <!-- add new button to create image flattening -->
        <button id="image-to-json" class="btn btn-info">Canvas to JSON</button>
        <br>

        <div id="drawing-mode-options">
            <label for="drawing-mode-selector">Mode:</label>
            <select id="drawing-mode-selector">
                <option>Pencil</option>
                <option>Circle</option>
                <option>Spray</option>
                <option>Pattern</option>

                <option>hline</option>
                <option>vline</option>
                <option>square</option>
                <option>diamond</option>
                <option>texture</option>
            </select>
            <br>

            <label for="drawing-line-width">Line width:</label>
            <span class="info">30</span>
            <input type="range" value="30" min="0" max="150" id="drawing-line-width">
            <br>

            <label for="drawing-color">Line color:</label>
            <input type="color" value="#005E7A" id="drawing-color">
            <br>

            <label for="drawing-shadow-color">Shadow color:</label>
            <input type="color" value="#005E7A" id="drawing-shadow-color">
            <br>

            <label for="drawing-shadow-width">Shadow width:</label>
            <span class="info">0</span>
            <input type="range" value="0" min="0" max="50" id="drawing-shadow-width">
            <br>

            <label for="drawing-shadow-offset">Shadow offset:</label>
            <span class="info">0</span>
            <input type="range" value="0" min="0" max="50" id="drawing-shadow-offset">
            <br>
        </div>
    </div>

    <!-- test angular output-->
    <p>
        <img src='{{currentAnnotation.annotation.path}}'></img>
    </p>
    {{currentAnnotation.annotation.path}}
    <!-- /test -->

</div>
