<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/dashboard.css">
      <link rel="stylesheet" href="css/main.css">

      <script src="js/vendor/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  </head>

  <body ng-app="Workspace">

    <div ng-view></div>

    <div ng-controller="DashboardCtrl">

      {{test}}

      <input type="text" ng-model="testModifier" />

      <button class="btn btn-primary" ng-click="testChangeButton(testModifier)">Click to change the output!</button>
      <button class="btn btn-primary" ng-click="testChangeButton()">Click to change the output without the modifier!</button>


    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script src="js/vendor/angular/ui-router/ui-router-0.2.10.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
